<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head th:include="commons/common::head">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header" th:text="${mcsBcrProperties==null}?'添加配置信息':'编辑配置信息'"></div>
                <div class="layui-card-body" pad15>

                    <input type="hidden" id="_method" value="" th:value="${mcsBcrProperties==null}?'post':'put'">
                    <div class="layui-form" lay-filter="ledConnect-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">编号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="id" value="" th:readonly="${mcsBcrProperties!=null}"
                                       th:value="${mcsBcrProperties!=null}?${mcsBcrProperties.getId()}" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux" th:text="${mcsBcrProperties==null}?'':'不可修改。'"></div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="name" value="" th:value="${mcsBcrProperties!=null}?${mcsBcrProperties.getName()}"
                                       lay-verify="required" autocomplete="off" placeholder="请输入名称" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">连接编号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="connectId" value="" th:value="${mcsBcrProperties!=null}?${mcsBcrProperties.getConnectId()}"
                                       autocomplete="off" placeholder="请输入IP地址" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">备注</label>
                            <div class="layui-input-block">
                                <textarea name="remark" placeholder="请输入内容" class="layui-textarea"
                                          th:text="${mcsBcrProperties!=null}?${mcsBcrProperties.getRemark()}"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="setmyinfo"
                                        th:text="${mcsBcrProperties==null}?'确认添加':'确认修改'">确认修改
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function () {
        var $ = layui.$
            , admin = layui.admin
            , element = layui.element
            , form = layui.form;

        form.render(null, 'ledConnect-form');
        element.render('breadcrumb', 'breadcrumb');

        form.on('submit(setmyinfo)', function (data) {
            $.ajax({
                url: "/mcsBcrProperTies/",
                type: $('#_method').val(),
                data: data.field,
                success: function (data) {
                    layer.alert(data, {icon: 6});
                },
                error: function (err) {	//失败回调函数
                    layer.alert(err, {icon: 5});
                }
            });
            return false;
        });
    });
</script>
</body>
</html>